database-1/Config/
database-2/Config/

# Distribution / packaging
serverless/.Python
serverless/env/
serverless/build/
serverless/develop-eggs/
serverless/dist/
serverless/downloads/
serverless/eggs/
serverless/.eggs/
serverless/lib/
serverless/lib64/
serverless/parts/
serverless/sdist/
serverless/var/
serverless/*.egg-info/
serverless/.installed.cfg
serverless/*.egg

# Serverless directories
serverless/.serverless

serverless/node_modules/

serverless/.venv/
serverless/vnv/


